#info-button {
    -fx-background-color: darkgreen;
}

#title {
    -fx-font-weight: bold;
    -fx-font-family: "Algerian";
}

#type-selector-title, #language-selector-title, Label {
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

/*noinspection CssUnusedSymbol*/
.root{
    -fx-font-size: 18pt;
    -fx-font-family: "Tahoma";
    -fx-base: rgb(39, 76, 255);
    -fx-background: #fff1d8;
    -fx-text-background-color: white;
}