#info-button {
    -fx-background-color: darkgreen;
}

#title {
    -fx-font-weight: bold;
    -fx-font-family: "Algerian";
}

#selector-title {
    -fx-text-fill: black;
}

.root{
    -fx-font-size: 18pt;
    -fx-font-family: "Tahoma";
    -fx-base: rgb(39, 76, 255);
    -fx-background: white;
    -fx-text-background-color: white;
}